{% extends 'base.html' %}
{% block title %}Delete Customer{% endblock %}
{% block content %}

    <h1>Delete Customer</h1>
    <form method="post"  action="{% url 'delete_customer' customer.pk%}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Delete Customer">
    </form>
    <form action="{% url 'my_customers'%}">
      {% csrf_token %}
      <input type="submit" class="btn btn-success" value="Back to My Customers">
    </form>
{% endblock%}