{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="articles">

    <article class="key-features">
        <h1>Key Features</h1>
        <p>Highlighting the key features of our CRM platform:</p>
        <ul>
            <li><p>Easy to Use: Our CRM platform is designed with a user-friendly interface, making it intuitive and accessible for all members of your sales team.</p></li>
            <li><p>Functional: With a wide range of features and tools, our CRM enables efficient management of customer data, lead tracking, and task scheduling.</p></li>
            <li><p>Single Source of Truth: Our CRM serves as a centralized hub for your sales team, ensuring that all customer interactions, communications, and deal information are stored in one place.</p></li>
        </ul>
        <a href="{% url 'features' %}">Learn More</a>
    </article>

    <article class="logo">
        <div class="overlay"></div>
        <img class="logo" src="{% static 'pictures/TM_logo.png' %}" alt="logo">
{#        <h1>Logo</h1>#}
{#        <p style="font-family: monospace; font-size: 25px">We're desperately looking for a graphic designer to join our team!</p>#}
{#        <a href="mailto:carrers@nonexisting.tm.bg?subject=Job application">Apply Now</a>#}
    </article>

    <article class="tips-and-tricks">
        <h1>Tips and Tricks</h1>
        <p>Discover useful tips and tricks for maximizing your CRM experience:</p>
        <ul>
            <li><h2>Optimize Visual Experience</h2></li>
            <li><h2>Automate Routine Tasks</h2></li>
            <li><h2>Segment Customers for Personalization</h2></li>
        </ul>
        <a href="{% url 'tips' %}">Read More</a>
    </article>
</section>
{% endblock %}