{% extends 'base.html' %}
{% block title %}Key Features{% endblock %}
{% block content %}

<h1>Key Features</h1>

<section class="articles">

    <article class="feature">
        <h2>Tasks Module</h2>
        <p>Effortlessly organize and prioritize tasks, set deadlines, and assign team members, ensuring smooth workflow management and increased productivity.</p>
    </article>

    <article class="feature">
        <h2>Customers Module</h2>
        <p>Seamlessly track customer interactions, preferences, and purchase history to enhance personalized experiences and foster long-lasting relationships with clients.</p>
    </article>

    <article class="feature">
        <h2>Dashboard</h2>
        <p>Access real-time insights and visually appealing charts to analyze sales performance, customer engagement, and key metrics, empowering data-driven decision-making.</p>
    </article>

    <article class="feature">
        <h2>Contracts Module</h2>
        <p>Simplify contract creation, approval, and tracking processes, with customizable templates and automated alerts for important dates and renewals.</p>
    </article>

    <article class="feature">
        <h2>Offers Module</h2>
        <p>Efficiently create, manage, and monitor offers, and automatically follow up on prospects, enhancing the sales process and closing deals effectively.</p>
    </article>
</section>

{% endblock %}