{% extends 'base.html' %}
{% load humanize %}
{% block title %}Offers{% endblock %}
{% block content %}

<h1>{{ customer_name }}'s Offers</h1>
<form action="{% url 'create_offer' customer_id=customer_id%}">
    {% csrf_token %}
    <input type="submit" class="btn btn-success" value="Create New Offer">
</form>
<dev class="articles">
    {% if object_list %}
    {% for offer in object_list %}
    <article class="tasks">
            <h2>{{ offer.title }}</h2>
        <ul>
            <li><p class="important">Description:</p></li>
            <p>{{ offer.description }}</p>
            {% if offer.is_valid %}
            <li><p class="important">Status: Active</p></li>
            <li><p class="important">Valid until:</p></li>
                <p>{{ offer.valid_until | date:"D d M Y" }}</p>
            {% else %}
            <li><p class="important">Status: Expired</p></li>
            {% endif %}
            <li><p class="important">ACV: {{ offer.potential_annual_value | floatformat:2 | intcomma  }}$</p></li>
        </ul>
        <div class="articles">
            <form action="{% url 'update_offer' offer.pk%}">
              {% csrf_token %}
              <input type="submit" class="btn btn-success" value="Update">
            </form>
            {% if offer.is_valid %}
            <form action="{% url 'convert_offer_to_contract' customer_id=customer_id title=offer.title description=offer.description potential_annual_value=offer.potential_annual_value%}">
              {% csrf_token %}
              <input type="submit" class="btn btn-success" value="Convert to Contract">
            </form>
            {% endif %}
            <form action="{% url 'delete_offer' offer.pk%}">
              {% csrf_token %}
              <input type="submit" class="btn btn-success" value="Delete">
            </form>
        </div>
    </article>
    {% endfor %}
    {% else %}
    <h1>No open offers</h1>
    {% endif %}
</dev>
{% endblock %}