{% extends 'base.html' %}
{% block title %}My Tasks{% endblock %}
{% block content %}

<h1>My tasks</h1>
<form action="{% url 'create_task' %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-success" value="Create New Task">
</form>
<dev class="articles">
    {% if object_list %}
    {% for task in object_list %}
    <article class="tasks">
            <h1>{{ task.title }}</h1>
        <p>Customer: {{ task.company }}</p>
        <ul>
            <li><p>Description: {{ task.description }}</p></li>
            <li><p>Task force:</p></li>
            {% for sales_representative in task.company.sales_representative.all %}
            <p>{{ sales_representative.first_name }} {{ sales_representative.last_name }}</p>
            {% endfor %}
            <li><p>Due date: {{ task.due_date }}</p></li>
            {% if task.completed %}
            <li><p>Status: Completed</p></li>
            {% else %}
            <li><p>Status: Pending</p></li>
            {% endif %}
        </ul>
        <div class="articles">
            {% if not task.completed %}
            <form action="{% url 'complete_task' task.pk%}">
              {% csrf_token %}
              <input type="submit" class="btn btn-success" value="Mark Completed">
            </form>
            {% else %}
            <form action="{% url 'pending_task' task.pk%}">
              {% csrf_token %}
              <input type="submit" class="btn btn-success" value="Mark Pending">
            </form>
            {% endif %}
            <form action="{% url 'update_task' task.pk%}">
              {% csrf_token %}
              <input type="submit" class="btn btn-success" value="Update">
            </form>
            <form action="{% url 'delete_task' task.pk%}">
              {% csrf_token %}
              <input type="submit" class="btn btn-success" value="Delete">
            </form>
        </div>
    </article>
    {% endfor %}
    {% else %}
    <h1>No pending tasks</h1>
    {% endif %}
</dev>
{% endblock %}