{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMaster | {% block title %}CRM {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base/light_theme.css' %}" id="theme-style">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.png' %}">
</head>
<body>
    <script src="{% static 'js/base/theme_change.js' %}"></script>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'my_dashboard' %}">My Dashboard</a></li>
                <li><a href="{% url 'my_customers' %}">My Customers</a></li>
                <li><a href="{% url 'my_tasks' %}">My Tasks</a></li>
                        {# if user is logged in #}
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'update_profile' 1%}">{{ request.user }}</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                        {# if user is not logged in #}
                {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
                <li><button onclick="toggleTheme()">🌓</button></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Add your page-specific content here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
            <div>Not &copy; 2023 Taskmaster CRM App. No rights reserved.</div>
            <div>Designed and developed by Mi6oo6iM.</div>
    </footer>

    <!-- Add your JavaScript and other script file links here -->
</body>
</html>